{% extends 'seller-header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		
    </head>
	<body>
		
		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Profile</h3>
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li class="active">Profile</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-12">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Profile</h3>
							</div>
							{% if msg %}
								<b style="color:blue;">{{msg}}</b>
							{% endif %}
							<form name="signup" method="post" action="{% url 'profile' %}" enctype="multipart/form-data">
								{% csrf_token %}
							<div class="form-group">
								<select class="input" name="usertype">
									{% if user.usertype == "buyer" %}
										<option>---Select User Type---</option>
										<option value="buyer" selected>Buyer</option>
										<option value="seller">Seller</option>
									{% else %}
										<option>---Select User Type---</option>
										<option value="buyer">Buyer</option>
										<option value="seller" selected>Seller</option>
									{% endif %}
								</select>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="fname" value="{{user.fname}}">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="lname" value="{{user.lname}}">
							</div>
							<div class="form-group">
								<input class="input" type="email" name="email" value="{{user.email}}" readonly>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="address" value="{{user.address}}">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="mobile" value="{{user.mobile}}">
							</div>
							<div class="form-group">
								<img src="{{user.profile_pic.url}}" width="100px" height="100px">
							</div>
							<div class="form-group">
								<input class="input" type="file" name="profile_pic">
							</div>
							<div class="form-group">
								<input class="btn btn-primary" type="submit" name="action" value="Update Profile">
							</div>
						</div>
						<!-- /Billing Details -->
					</div>

					
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Sign Up for the <strong>NEWSLETTER</strong></p>
							<form>
								<input class="input" type="email" placeholder="Enter Your Email">
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
							</form>
							<ul class="newsletter-follow">
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-pinterest"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->

	</body>
</html>
{% endblock %}